.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 5%;
}

.btn {
  text-align: center;
  height: 3rem;
  width: 9rem;
  padding: 10px auto;
  border: 0;
  border-radius: 6px;
  background-color: #9C060C;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn:hover {
    background-color: #CE242A;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
